.maximum_lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.maximum_lines_1 {
  @extend .maximum_lines;
  -webkit-line-clamp: 1;
}

.maximum_lines_2 {
  @extend .maximum_lines;
  -webkit-line-clamp: 2;
}

.c-pointer {
  cursor: pointer;
}

.skelton {
  @keyframes loading {
    0% {
      background-color: rgba(0, 0, 0, 0.11);
    }
    50% {
      background-color: rgba(0, 0, 0, 0.05);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.11);
    }
  }
  background-color: rgba(0, 0, 0, 0.11);
  animation: loading 1.5s ease-in-out 0.5s infinite;
}

.carousel {
  &.react-multi-carousel-list {
    padding-bottom: 48px;
  }
  .react-multi-carousel-dot-list {
    gap: 4px;
  }
  .react-multi-carousel-dot {
    > button {
      border: none;
      background-color: #ced7fd;
    }
  }
  .react-multi-carousel-dot--active {
    > button {
      background-color: $primary;
      transform: scale(1.6);
    }
  }
}
